<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="index" content="">
    <meta name="author" content="">
    <title>Please sign in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>

    <!-- jQuery JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

    <!--Bootsrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Own JavaScript and style -->
    <link rel="stylesheet" href="style/buyPage.css">
    <script type="text/javascript"  src="LoggedJs/mainPage.js"> </script>
</head>
<header>
    <div class="container">
        <div class="Headers row">


            <div class="logo col-sm-2">
                <span id="logo">GIFT</span>
            </div>

            <div class="headers col-sm-8 col-md-8">
                <div id="headerOne">
                    <div class="row HeaderOneRow">
                        <div class="headerColumn KYIV col-sm-4 col-md-4"><h1>Kyiv</h1></div>
                        <div class="headerColumn PhoneNumberOne col-sm-5 col-md-4">+380956788900</div>
                        <div id="EVERYDAY" class="headerColumn col-sm-3 col-md-4">EVERYDAY</div>
                    </div>
                </div>
                <div  id="headerTwo">
                    <div class="row HeaderTwoRow">
                        <div class="headerColumn Street col-sm-4 col-md-4"><h1>Grigoria Skovorodi, 2</h1></div>
                        <div class="headerColumn PhoneNumberTwo col-sm-5 col-md-4">+380956788900</div>
                        <div id="DELIVERY" class="headerColumn col-sm-3 col-md-4">DELIVERY</div>
                    </div>
                </div>
            </div>

            <div class="cart col-sm-2">
                CART
            </div>


        </div>

        <div class="nav row">
            <div id="GIFTS" class="col-sm-2">GIFTS</div>
            <div id="DELIVERY&PAYMENT" class="col-sm-4">Delivery&payment</div>
            <div id="CONTACTS" class="col-sm-2">Contacts</div>
            <div id="Reviews" class="col-sm-2">Reviews</div>
            <div id="LogIn" class="col-sm-2"><a href="/login">Log in</a></div>
            <div id="LogOut" class="col-sm-2"><a id="LogOutButton" href="/logout">Log out</a></div>
        </div>
    </div>
</header>
<body>
<div class="container">
    <div class="row">
        <div class="gifts col-sm-12">
            <div class="gifts"><h1>GIFTS</h1></div>
            <div class="gifts"><h3>For any occasion</h3></div>
        </div>
    </div>
    <div class="row">



        <div th:each="ShopItem : ${ShopItems}" class="col-sm-4">

            <div class="itemRow row">

                <div class="col-sm-1"></div>

                <div class="thumbnail shopItemThumbnail col-sm-10">
                    <img class="box" th:src="${ShopItem.imagePath}" >
                    <div class="caption">
                        <p th:text="${ShopItem.itemName}" class="textName"></p>
                        <p th:text="${ShopItem.price}" class="price"><%= box.price %> грн</p>
                    </div>

                    <div class="BuyAndDetailsButtons">
                        <button class="UIButton details">Детальніше</button>
                        <button class="UIButton buy">В кошик</button>
                    </div>
                </div>

                <div class="col-sm-1"></div>

            </div>

        </div>



    </div>
</div>
</body>
</html>
